1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data so it can be used efficiently. They're important because they:
  - make programs faster
  - reduce memory usage
  - simplify problem-solving
  
  Examples: list, tuple, dictionary, set.

2. Explain the difference between mutable and immutable data types with examples?
- Mutable: can be changed after creation.

      a = [1, 2, 3]
      a[0] = 10 #can be changed

- Immutable: cannot be changed once created.

      b = (1, 2, 3)
      b[0] = 10 #cannot be changed

3. What are the main differences between lists and tuples in Python?

- Lists are mutable whereas tuples are immutable.
- Lists are slower whereas tuples are faster.
- Data in lists can be changed whereas tuples data cannot be changed.

4. Describe how dictionaries store data?
- Dictionaries store data as key-value pairs.
  - user = {"name": "Pavan", "age": 24}

5. Why might you use a set instead of a list in Python?
- We use a set when we need unique values and needs it to be faster.

6. What is a string in Python, and how is it different from a list?
- String is a sequence of characters and list is a sequence of items
- Strings are immutable whereas list are mutable.

7. How do tuples ensure data integrity in Python?
- Since tuples are immutable they do not allow change of values that is data cannot be modified accidentally.

8. What is a hash table, and how does it relate to dictionaries in Python?

- Hash table are data structures that maps keys to positions using hash function. Python dictionaries are implemented using hash tables, making lookup very fast.

9. Can lists contain different data types in Python?
- Yes, List is a sequence of items, so it can contain different data types.

10. Explain why strings are immutable in Python?

- Strings are immutable because they cannot be changed once created. This ensures security, memory efficiency, optimization.

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries use key-value pair which allows them for faster retrieval and flexibility during searching that is searching by key instead of index over lists.

12. Describe a scenario where using a tuple would be preferable over a list?

- When data should never change:
    - dates
    - coordinates
    - configuration values

13. How do sets handle duplicate values in Python?
- Sets store only unique elements. When a set encounters a duplicate value, it simply ignores it.

14. How does the “in” keyword work differently for lists and dictionaries?
- The 'in' keyword checks for the presence of a value in a list, but it checks for the presence of a key in a dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?

- No, we cannot modify the elements of a tuple since they are immutable.

16. What is a nested dictionary, and give an example of its use case?
- Nested dictionary is nothing but dictionary inside another dictionary.
  - Eg: student = {
        "name": "Pavan",
        "marks": {"math": 90, "english": 85}}

17. Describe the time complexity of accessing elements in a dictionary?
- Accessing the elements in a dictionary has an average time complexity of O(1).

18. In what situations are lists preferred over dictionaries?
- List are preferred over dictionaries when
    - Storing simple, homogenous data.
    - order matters.
    - access items by index rather than name.
    - Looping through data.
    - No need of unique key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- A dictionary stores data as key-value pairs, and internally it uses a hash table. Because of this keys are placed based on their hash value.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

- Lists retrieve data by index(position) whereas dictionary retrieve data by key(name/identifier).

In [1]:
# 1. Write a code to create a string with your name and print it.

name = "Pavan"
print(name)

Pavan

In [3]:
# 2. Write a code to find the length of the string "Hello World".

word = "Hello World"
print("Length of the string 'Hello World' is ", len(word))

Length of the string 'Hello World' is  11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"

print(string[:3])

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.

string = "hello"

print(string.capitalize())

Hello

In [9]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [12]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

lst = [int(x) for x in range(1,6)]
print(lst)

[1, 2, 3, 4, 5]

In [13]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]

lst.append(10)

print(lst)

[1, 2, 3, 4, 10]

In [15]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [16]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [19]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [20]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [22]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [23]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup = (10, 20, 5, 15)
print(min(tup))

5

In [24]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

In [27]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

def isKiwiPresent(tup):
  if "kiwi" in tup:
    print("Kiwi is present in ", tup)
  else:
    print("Kiwi is not present in ", tup)

tup = ("apple", "banana", "kiwi")
tup1 = ("apple", "banana", "mango")

isKiwiPresent(tup)
isKiwiPresent(tup1)

Kiwi is present in  ('apple', 'banana', 'kiwi')
Kiwi is not present in  ('apple', 'banana', 'mango')

In [28]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}

print(letters)

{'a', 'c', 'b'}

In [30]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
print(numbers)
numbers.clear()
print(numbers)

{1, 2, 3, 4, 5}
set()

In [31]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [32]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))

{1, 2, 3, 4, 5}

In [33]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

print(set1.intersection(set2))

{2, 3}

In [36]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = {
    "name": "Pavan",
    "age": 25,
    "city": "Mumbai"
}
print(dict)

{'name': 'Pavan', 'age': 25, 'city': 'Mumbai'}

In [38]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict = {'name': 'John', 'age': 25}
dict.update({"country":"USA"})
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [41]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [44]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [46]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}

if "city" in dict.keys():
  print("key 'city' exists in the dictionary")
else:
  print("key 'city' does not exist in the dictionary")

key 'city' exists in the dictionary

In [47]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3, 4, 5]
tup = (1, 2, 3, 4, 5)
dict = {"one": 1, "two": 2, "three": 3, "four": 4, "five": 5}

print(lst)
print(type(lst))

print(tup)
print(type(tup))

print(dict)
print(type(dict))

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
<class 'dict'>

In [51]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

lst = [random.randint(1, 100) for i in range(5)]
print(lst)
lst.sort()
print(lst)

[65, 32, 37, 82, 34]
[32, 34, 37, 65, 82]

In [53]:
# 28. Write a code to create a list with strings and print the element at the third index.

fruits = ['apple', 'mango', 'banana', 'kiwi', 'pine apple', 'avacado']
print(fruits[3])

kiwi

In [57]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"name1": "Pavan", "age1": 25, "city1": "Mumbai"}
dict2 = {"name2": "Srinadh", "age2": 24, "city2": "Hyderabad"}

dict1.update(dict2)
print(dict1)

{'name1': 'Pavan', 'age1': 25, 'city1': 'Mumbai', 'name2': 'Srinadh', 'age2': 24, 'city2': 'Hyderabad'}

In [61]:
# 30. Write a code to convert a list of strings into a set

lst = ['apple', 'mango', 'banana', 'kiwi', 'orange']
print(lst)
print(type(lst))
st = set(lst)
print(st)
print(type(st))

['apple', 'mango', 'banana', 'kiwi', 'orange']
<class 'list'>
{'apple', 'mango', 'orange', 'kiwi', 'banana'}
<class 'set'>